<footer class="footer">
    <div class="container container-fixed">
        <div class="row">
            <div class="col">
                <a href="#">
                    <img src="/assets/img/zelic91.svg" alt="" width="46" class="d-inline-block align-text-top">
                </a>

                <p class="mt-2">A place to share random technical pieces<span class="text-warning">.</span></p>
            </div>

            <div class="col">
                <p class="text-right text-muted">zelic91 © 2021</p>
            </div>
        </div>

    </div>
</footer>