<footer class="footer">
    <div class="container container-fixed">
        <div class="row">
            <div class="col">
                <a href="#">
                    <img src="/assets/img/zelic91.svg" alt="" width="46" class="d-inline-block align-text-top">
                </a>

                <p class="mt-2">A place to share<span class="text-warning">.</span></p>
            </div>

            <div class="col">
                <ul class="footer-links list-unstyled align-end">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Android</a>
                    </li>
                    <li>
                        <a href="#">iOS</a>
                    </li>

                    <li>
                        <a href="#">Web</a>
                    </li>
                </ul>
            </div>

            <div class="col">
                <div class="social">
                </div>
            </div>
        </div>

    </div>
</footer>