<a class="post-list-item" href="{{ include.url }}">

    <div class="card card-post card-post--right">

        <div class="card-post-inner">
            <div class="card-post__image" style="background-image: url({{ include.image }})">
            </div>
        </div>

        <div class="card-post-content">
            <div class="card h-100">
                <div class="card-body">
                    <h1 class="post-title">{{ include.title }}</h1>
                    <div class="post-excerpt">{{ include.excerpt }}</div>
                </div>
            </div>
        </div>

    </div>
</a>