---
layout: default
---

{% include hero.html title=page.title subtitle=page.subtitle hero-image=page.hero-image %}

<section class="container container-fixed container-main">
    {% if site.paginate %}
    {% assign posts = paginator.posts %}
    {% else %}
    {% assign posts = site.posts %}
    {% endif %}

    {%- for post in posts -%}
    {%- assign mod = forloop.index | modulo: 2 -%}
    {%- if mod == 1 -%}
    {% include post-item-left.html title=post.title excerpt=post.excerpt url=post.url image=post.image %}
    {%- else -%}
    {% include post-item-right.html title=post.title excerpt=post.excerpt url=post.url image=post.image %}
    {%- endif -%}
    {%- endfor -%}
</section>